html,
body {
    height: 100%;
    margin: 0;
}

#viewDiv {
    height: calc(100% - 64px); /* Ajusta según la altura de tu navbar */
    overflow: auto; /* Permite el desplazamiento */
    width: 100%; /* Establece el ancho a 75% del contenedor padre */
    margin: 0 auto; /* Centra el div */
}

#chartPanel {
    background: #fff;
    font: "Avenir Next W00";
    line-height: 1.5em;
    overflow: auto;
    padding: 10px;
    width: 580px;
    height: 300px;
}

.chart {
    height: 280px;
}